div{
    height: 100px;
    width:100px;
    background-color: blueviolet;
    transition-property: all;
    transition-duration: 4s;
    transition-timing-function: steps(5);
    transition-delay: 2nms ;
}
div:hover{
    background-color: red;
    color: white;
    font-size: 20px;

}
div:active{
    background: pink;
}